<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>后台管理系统</title>
    <meta name="author" content="DeathGhost"/>
    <link rel="stylesheet" type="text/css" href="__Css__/style.css">
    <!--[if lt IE 9]>
    <script src="__Js__/html5.js"></script>
    <![endif]-->
    <script src="__Js__/jquery.js"></script>
    <script src="__Js__/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>

        (function ($) {
            $(window).load(function () {

                $("a[rel='load-content']").click(function (e) {
                    e.preventDefault();
                    var url = $(this).attr("href");
                    $.get(url, function (data) {
                        $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
                        //scroll-to appended content
                        $(".content").mCustomScrollbar("scrollTo", "h2:last");
                    });
                });

                $(".content").delegate("a[href='top']", "click", function (e) {
                    e.preventDefault();
                    $(".content").mCustomScrollbar("scrollTo", $(this).attr("href"));
                });

            });
        })(jQuery);
    </script>
    <script type="text/javascript">
        $("#demo3").click(function () {
            popTipShow.confirm('弹窗标题', '自定义弹窗内容，居左对齐显示，告知需要确认的信息等', ['确 定', '取 消'],
                function (e) {
                    //callback 处理按钮事件
                    var button = $(e.target).attr('class');
                    if (button == 'ok') {
                        //按下确定按钮执行的操作
                        //todo ....
                        this.hide();
                        setTimeout(function () {
                            webToast("操作成功", "top", 2000);
                        }, 300);
                    }
                    if (button == 'cancel') {
                        //按下取消按钮执行的操作
                        //todo ....
                        this.hide();
                        setTimeout(function () {
                            webToast("您选择“取消”了", "bottom", 2000);
                        }, 300);
                    }
                }
            );
        });


    </script>
</head>
<body>
<!--header-->
<include file="Common/head"/>
<!--aside nav-->
<!--aside nav-->
<include file="Common/left"/>

<section class="rt_wrap content mCustomScrollbar">
    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">属性列表</h2>
            <a href="__MODULE__/Attrs/addValue" class="fr top_rt_btn add_icon">添加属性</a>
        </div>
        <table class="table">
            <tr>
                <th style="width: 60px">属性Id</th>
                <th>属性名称</th>
                <th style="width: 360px">属性值</th>
                <th>所属类型</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            <volist name="list" id="list">
                <tr>
                    <td class="center">{$list['attr_id']}</td>
                    <td>{$list['attr_name']}</td>
                    <td>{$list['attr_value']}</td>
                    <td>{$list['type_name']}</td>
                    <td>{$list['addtime']|date='Y-m-d H:i:s',###}</td>
                    <td class="center">
                        <a href="__CONTROLLER__/editAttr/attr_id/{$list['attr_id']}" title="编辑" class="link_icon">&#101;</a>
                        <a href="__CONTROLLER__/delAttr/attr_id/{$list['attr_id']}" onclick="return confirm('您确定要删除吗？');" title="删除" class="link_icon  twitter" id="demo3">&#100;</a>
                    </td>
                </tr>
            </volist>
        </table>
        <aside class="paging">
            {$page}
        </aside>
    </div>
</section>
</body>
</html>
